/* body{
    background-color:#84A98C;
    color: white;
}
#container{
width: 30%;
margin: auto;
background-color:#52796F;
padding: 10px;
border-radius: 20px;
}
.shere-links{
    width: 30%;
    margin: auto;
    text-align: right;
    color: white;
    padding-bottom: 50px;
}
.main-photo{
    border: 2px;
    border-radius: 20%;
    margin-top: -70px;
padding: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.two-icons{
font-size: 20px;
cursor: pointer;
padding-left: 4px;
}
.connections{
    font-size: 40px;
}
/* .input-text-fild{
    width: 100px;
    height: 100px;
} */ 
 .container{
    width: 30%;
 }
.main-photo{
    max-width: 100%;
    height: auto;

}
.shere-links{
    font-size: 20px;
}
.fa-github{
    font-size: 30px;
    color: black;
}
.main-block{
    background-color: gray;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: -70px;

}