
.container{
    width: 35%;
}
.head-links{
   font-size: 30px;
   cursor: pointer;
}
.main-photo{
    margin-top: -80px;
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    min-width: 100px;
}
.main-block{
    margin-top: 90px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    min-width: min-content;
    height:682px;
}
form{
    height: 200px;
}
.contact-links > a{
    font-size: 40px;
    color: black;
}